# Application Insights Connection String
# Get this from your Azure Portal > Application Insights > Properties
NUXT_PUBLIC_APPLICATIONINSIGHTS_CONNECTION_STRING=InstrumentationKey=00000000-0000-0000-0000-000000000000;IngestionEndpoint=https://example.com
